<app-header></app-header>
<section class="body">
    <div class="container">
        <nav class="menu_navbar left">
            <ul>Account</ul>
            <ul>purchase history</ul>
        </nav>
        <div class="container-content-body right">
            <div class="container-content-body-header">
                <h1>Profile</h1>
            </div>
            <div class="container-content-body-content">
                <div class="container-content-body-content-left">
                    <div class="container-content-body-content-left-header">
                        <h2>Account</h2>
                    </div>
                    <div class="container-content-body-content-left-content">
                        <div class="container-content-body-content-left-content-item">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" value="email">
                        </div>
                        <div class="container-content-body-content-left-content-item">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" value="password">
                        </div>
                        <div class="container-content-body-content-left-content-item">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" id="confirm-password" name="confirm-password"
                                value="confirm-password">
                        </div>
                    </div>
                </div>
                <div class="container-content-body-content-right">
                    <div class="container-content-body-content-right-header">
                        <h2>Purchase History</h2>
                    </div>
                    <div class="container-content-body-content-right-content">
                        <div class="container-content-body-content-right-content-item">
                            <div class="container-content-body-content-right-content-item-header">
                                <h3>Order #1</h3>
                            </div>
                            <div class="container-content-body-content-right-content-item-content">
                                <div class="container-content-body-content-right-content-item-content-left">
                                    <div class="container-content-body-content-right-content-item-content-left-header">
                                        <h4>Product</h4>
                                    </div>
                                    <div class="container-content-body-content-right-content-item-content-left-content">
                                        <div
                                            class="container-content-body-content-right-content-item-content-left-content-item">
                                            <p>Product 1</p>
                                        </div>
                                        <div
                                            class="container-content-body-content-right-content-item-content-left-content-item">
                                            <p>Product 2</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-content-body-content-right-content-item-content-right">
                                    <div class="container-content-body-content-right-content-item-content-right-header">
                                        <h4>Price</h4>
                                    </div>
                                    <div
                                        class="container-content-body-content-right-content-item-content-right-content">
                                        <div
                                            class="container-content-body-content-right-content-item-content-right-content-item">
                                            <p>$100</p>
                                        </div>
                                        <div
                                            class="container-content-body-content-right-content-item-content-right-content-item">
                                            <p>$200</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-content-body-footer">
                <button>Save</button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>